
* {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 400;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  width: 100%;
}

section {
  height: 100%;
  width: 50%;
}

h1 {
  color: #FFFFFF;
  display: block;
  font-size: 250%;
  font-weight: 800;
  height: 60px;
  margin: 0% 5.5% 7.5% 5.5%;
  text-align: center;
  width: 89%;
}

input {
  display: block;
  font-size: 20px;
  height: 60px;
  margin: 10% 5.5% 10% 5.5%;
  padding: 4px;
  width: 89%;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #CFD8DC;
}

p {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  height: 5%;
  margin: 0% 1% ;
  text-align: center;
  width: 30%;
}

h2 {
  border-bottom: solid 2px #CFD8DC;
  color: #455A64;
  font-weight: 600;
  font-size: 24px;
  height: 40px;
  margin: 7px 12px 0px 12px;
  padding: 0px 0px 5px 2px;
}

.blue-box {
  background-color: #455A64;
  display: block;
  height: 100%;
}

.bookmark-creator {
  height: 50%;
  margin-top: 25%;
}

.logo {
  width: 80px;
  height: 60px;
  margin-bottom: -10px;
}

.enter-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  border: none;
  background-color: #FFC107;
  width: 89%;
  height: 50px;
  margin: 0% 5.5% 7.5% 5.5%;
}

.enter-button:focus {
  outline: none;
}

.enter-button:hover:enabled {
  background-color: #FFD773;
}

.enter-button:disabled {
  background-color: #CFD8DC;
}

.total {
  color: #FFC107;
}

.read {
  color: #F05A28;
}

.unread {
  color: #CFD8DC;
}

.gray-box {
  background-color: #CFD8DC;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}

.bookmark-card {
  border: solid;
  border-width: 2px;
  border-color: #607D8B;
  background-color: #FFFFFF;
  height: 150px;
  margin: 4% 4% 2% 4%;
  width: auto;
}

a.bookmark-url {
  border-bottom: solid 1px #F2F4F4;
  color: #607D8B;
  display: inline-block;
  height: 22px;
  text-decoration: none;
}

a.bookmark-url:hover {
  border-bottom: solid 1px #FFC107;
  color: #455A64;
}

span.bookmark-link {
  border-bottom: solid 2px #CFD8DC;
  display: block;
  height: 24px;
  margin: 5px 12px 0px 12px;
  padding: 14px 0px 40px 2px;
  text-decoration: none;
}

.button-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmark-read-button, .bookmark-delete-button {
  background-color: #FFFFFF;
  border: none;
  border-bottom: solid 1px #F2F4F4;
  color: #455A64;
  font-size: 15px;
  height: 20px;
  margin: 10px 12px 0px 12px;
  padding: 0px 0px 7px 0px;
  width: auto;
}

.bookmark-read-button:hover, .bookmark-delete-button:hover  {
  border-bottom: solid 1px #FFC107;
  color: #455A64;
}

div.read {
  background-color: #F2F4F4;
}

a.read {
    border-bottom: solid 1px #CFD8DC;
}

.bookmark-read-button.read {
  color: #F05A28;
  background-color: #F2F4F4;
}

.bookmark-delete-button.read {
  background-color: #F2F4F4;
}

#total-bookmarks {
  color: #FFC107;
}

#read-bookmarks {
  color: #F05A28;
}

#unread-bookmarks {
  color: #CFD8DC;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }

  .logo {
    width: 45px;
    height: 33.75px;
    margin: 0;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    font-size: 175%
  }

  input {
    height: 40px;
  }

  .enter-button {
    height: 30px;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 125%
  }

  .logo {
    width: 30px;
    height: 22.5px;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 100%
  }
}

@media screen and (max-width: 415px) {
  body {
    display: block;
  }

  section {
    width: 100%;
  }

  h1 {
    font-size: 200%;
    height: 40px;
    margin: 5% 5.5% 7.5% 5.5%;
  }

  .blue-box {
    height: 350px;
    left: 0px;
    position: fixed;
    top: 0px;
  }

  .gray-box {
    margin-top: 87%;
  }

  .bookmark-creator {
    height: 89%;
    margin-top: 0%;
  }

  input {
    font-size: 30px;
    height: 50px;
    margin: 5%;
    width: 90%;
  }

  .enter-button{
    height: 40px;
    margin: 0 5% 5% 5%;
    width: 90%;
  }

  .logo {
    height: 40px;
    margin: 0px 5px -7px -3px;
    width: 50px;
  }
}
