* {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
}

section {
  /*display: row;*/
  width: 50%;
  height: 100%;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  width: 89%;
  height: 65px;
  margin: 0% 5.5% 7.5% 5.5%;
  font-size: 45px;
  display: block;
  text-align: center;

}

h2 {
  color: #455A64;
  font-weight: 600;
  font-size: 24px;
  height: 40px;
  margin: 7px 12px 0px 12px;
  border-bottom: solid 2px #CFD8DC;
  padding: 0px 0px 5px 2px;

}

input {
  display: block;
}

p {
  display: inline-block;
  width: 30%;
  height: 11%;
  font-size: 15px;
  text-align: center;
  margin: 0% 1%;
}
.blue-box {
  background-color: #455A64;
  height: 100%;
  display: block;
}

.bookmark-creator {
  height: 50%;
  margin: 167.5px 0px;
}

.logo {
  width: 80px;
  height: 60px;
  margin-bottom: -10px;
  /*align-self: flex-end;*/
}

.gray-box {
  background-color: #CFD8DC;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.user-input-box {
  width: 89%;
  margin: 10% 5.5% 10% 5.5%;
  height: 35px;
  font-size: 20px;
  padding: 4px;
}

.user-input-box:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #CFD8DC;
}

.enter-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  border: none;
  background-color: #FFC107;
  width: 89%;
  height: 30px;
  margin: 0% 5.5%;
}

.enter-button:focus {
  outline: none;
}

.enter-button:hover:enabled {
  background-color: #FFD773;
}

.enter-button:disabled {
  background-color: #CFD8DC;
}

#total-bookmarks {
  color: #FFC107;
}

#read-bookmarks {
  color: #F05A28;
}

#unread-bookmarks {
  color: #CFD8DC;
}

.bookmark-card {
  border: solid;
  border-width: 2px;
  border-color: #607D8B;
  background-color: #FFFFFF;
  width: auto;
  height: 137px;
  margin: 20px 20px 10px 20px;
  box-sizing: border-box;
}

/*.bookmark-card-toggle {
  background-color: #F2F4F4
}*/

a.bookmark-url {
  color: #607D8B;
  display: inline-block;
  border-bottom: solid 1px #F2F4F4;
  height: 22px;
}

a.bookmark-url:hover {
  color: #455A64;
  border-bottom: solid 1px #FFC107;
}

/*a.bookmark-url-toggle {
  border-bottom: solid 1px #CFD8DC;
}*/

span.bookmark-link {
  text-decoration: none;
  display: block;
  border-bottom: solid 2px #CFD8DC;
  height: 24px;
  display: block;
  margin: 5px 12px 0px 12px;
  padding: 14px 0px 40px 2px;
}

span.bookmark-link a{
  text-decoration: none;
}

.button-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmark-read-button, .bookmark-delete-button {
  color: #455A64;
  width: auto;
  height: 15px;
  margin: 7px 12px 0px 12px;
  padding: 0px 0px 7px 0px;
  background-color: #FFFFFF;
  border: none;
  border-bottom: solid 1px #F2F4F4;
}

.bookmark-read-button:hover, .bookmark-delete-button:hover  {
  color: #455A64;
  border-bottom: solid 1px #FFC107;
}

.bookmark-read-button, .bookmark-delete-button:focus {
  outline: none;
}

div.read {
  background-color: #F2F4F4;
}

a.read {
    border-bottom: solid 1px #CFD8DC;
}

button.read {
  color: #F05A28;
}

.bookmark-delete-button {
}

.read-div {
  background-color: #F2F4F4;
}

.read-button {
  color: #F05A28;
}

/*//Everything under max width is where the media query will take effect//*/
/*@media screen and (max-width: 1000px) {
  .gray-box {
    background-color: yellow;
  }
}*/
